/**** normal *****/
a.btn {
    background: #056cbb;
    color: #fff;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    display: inline-block;
    border-radius: 5px;
}

a.btn:hover {
    background: #0395e2;
}

a.btn.grey {
    background: #ccc;
    color: #fff;
}

a.btn.white {
    background: none;
    color: #666666;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
}

a.btn.white:hover {
    background: #056cbb;
    color: #fff;
}

a.btn.borderd {
    border-color: #056cbb;
    color: #056cbb;
}

.box {
    width: 1200px;
    margin: 0 auto;
}

.emptyLine {
    height: 110px;
}

.shadowBox {
    box-shadow: 0 0 5px #e6e6e6;
    padding: 10px;
    background: #fff;
}

input[type=checkbox] {

    /*同样，首先去除浏览器默认样式*/

    -webkit-appearance: none;

    -moz-appearance: none;

    appearance: none;
    /*编辑我们自己的样式*/

    position: relative;

    width: 16px;

    height: 16px;

    background: transparent;

    border: 1px solid #cccccc;

    -webkit-border-radius: 4px;

    -moz-border-radius: 4px;

    border-radius: 0;

    outline: none;

    cursor: pointer;

    padding-left: 0;

    margin-right: 3px;

    position: relative;

    top: -1px;

    margin-right: 5px;
}

input[type=checkbox]:after {
    content: "\2713";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #00BFFF;
    color: #fff;
    text-align: center;
    line-height: 18px;
    /*增加动画*/
    -webkit-transition: all ease-in-out 100ms;
    -moz-transition: all ease-in-out 100ms;
    transition: all ease-in-out 100ms;
    /*利用border-radius和opacity达到填充的假象，首先隐藏此元素*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 23px;
    opacity: 0;
    border-radius: 0;
}

input[type=checkbox]:checked:after {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    opacity: 1;
}

/*****  home  *****/
.nav {
    height: 36px;
    line-height: 36px;
}

.nav .welcome {
}

.nav ul {
    overflow: hidden;
    justify-content: space-around;
    float: right;
}

.nav li {
    margin: 0 0 0 30px;
    float: left;
}

.nav a {
    color: #666666;
    font-size: 14px;
}

.nav a:hover {
    color: #056cbb;
}

.banner {
    height: 596px;
    background: url(../img/banner1.png) no-repeat center;
}

.banner .box {
    position: relative;
}

.banner img {
    margin-top: 16px;
}

.searchBox .labels {
    margin-left: 8px;
    display: block;
    clear: both;
    margin-top: 7px;
}

.searchBox .labels span {
    color: #999999;
    margin-right: 7px;
}

.home .searchBox {
    top: 24px;
}

.home .banner .btn {
    top: 24px;
}

.searchBox {
    position: absolute;
    right: 185px;
    top: 3px;
}

.searchBox input {
    padding-left: 15px;
    border: none;
    display: inline-block;
    background: #fff;
    width: 392px;
    height: 51px;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
    display: inline-block;
}

.searchBox a {
    background: #056cbb url(../img/searchIcon.png) no-repeat center;
    height: 51px;
    width: 65px;
    border-radius: 0 5px 5px 0;
    content: "";
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
}

.banner a.btn, .logoBox a.btn {
    width: 170px;
    height: 48px;
    position: absolute;
    right: 0;
    top: 3px;
    line-height: 48px;
    font-size: 16px;
    text-align: center;
}

.logoBox .box {
    position: relative;
}

.logoBox .searchBox input {
    border: 1px solid #ccc;
}

.logoBox .searchBox input:focus {
    border-color: #0395e2;
    box-shadow: 0 0 18px #edf9ff;
}

.logoBox .searchBox input:focus + a {
    background-color: #0395e2;
}

.menuBox {
    height: 78px;
    border-bottom: 1px solid #e6e6e6;
}

.menu {
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    font-size: 16px;
    padding: 0 35px;
    line-height: 78px;
    position: relative;
    display: block;
}

.menu li a:hover:after, .menu li a.hover:after {
    position: absolute;
    left: 0;
    bottom: 1px;
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: #0395e2;
}

.homeList {
    overflow: hidden;
}

.homeList .listBox:nth-child(4n) {
    margin-right: 0;
}

.homeList .listBox {
    height: 414px;
    margin-bottom: 20px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 4px 23px #eeeeec;
    margin-right: 1%;
    background: #fff;
    width: 24%; /* For old syntax, otherwise collapses. */
    float: left;
    position: relative;
}

.homeList .listBox .top {
    height: 62px;
    line-height: 38px;
    padding: 12px;
    color: #333333;
}

.homeList .listBox .top img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    float: left;
}

.homeList .listBox span.name {
    float: left;
    margin: 0 17px;
}

.homeList .listBox span.address, .address {
    float: right;
    color: #999999;
    background: url(../img/address.png) no-repeat 0 center;
    padding-left: 16px;
}

.homeList .listBox .bottom {
    border-bottom: 1px solid #f0f0f0;
    padding: 12px;
    position: absolute;
    bottom: -6px;
}

.homeList .listBox .bottom .price {
    color: #0395e2;
    font-size: 18px;
}

.homeList .listBox .bottom .btn {
    float: right;
    height: 28px;
    width: 106px;
    font-size: 12px;
}

.homeList .listBox .bottom .txt {
    background: #f5f5f5;
    padding: 12px;
    margin-top: 11px;
    max-height: 75px;
    overflow: hidden;
}

.list h2 {
    margin-bottom: 30px;
}

.list h2 span, h2.title span {
    color: #333333;
    font-size: 28px;
    margin-right: 18px;
}

.list h2 em, h2.title {
    font-size: 14px;
    color: #999999;
    font-style: normal;
    margin-right: 18px;
    margin-bottom: 30px;
}

.list h2 a, h2.title a {
    float: right;
}

.company {
    height: 268px;
}

.company .left {
    width: 850px;
    margin-right: 26px;
    float: left;
}

.company ul {
    overflow: hidden;
    box-shadow: 0 0 5px #e6e6e6;
    padding-top: 10px;
    padding-left: 10px;
}

.company ul li {
    width: 268px;
    float: left;
    height: 60px;
    padding-top: 6px;
    margin: 0 12px 25px 0;
}

.company ul li a {
    display: block;
    position: relative;
    padding-left: 59px;
    height: 60px;
}

.company ul li img {
    position: absolute;
    left: 0px;
    top: 1px;
    width: 52px;
    height: 52px;
}

.company ul li span.name {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    display: block;
}

.company ul li span.tips {
    color: #858585;
}

.company ul li span.address {
    position: absolute;
    top: 0;
    right: 8px;
}

.company .right {
    width: 302px;
    float: right;
}

.listF {
    overflow: hidden;
    padding-bottom: 7px;
}

.listF .topBox {
    overflow: hidden;
}

.listF .topBox img {
    float: left;
    margin-right: 20px;
}

.listF .topBox .info {
}

.listF .topBox .info .title {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

.listF .topBox .info p {
    color: #666;
}

.listF .left ul {
    clear: both;
    margin-top: 18px;
    padding-top: 10px;
    border-top: 1px solid #f0f0f0;
}

.listF ul {
    overflow: hidden;
}

.listF ul li {
    width: 47%;
    width: 44% \0;
    float: left;
    margin-right: 6%;
    margin-bottom: 5px;
}

.listF .right ul li {
    width: 96%;
}

.listF ul li a:after {
    position: absolute;
    left: 0;
    top: 9px;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 25px;
    background: #0395e2;
}

.listF ul li:nth-child(2n) {
    margin-right: 0;
}

.listF ul li a {
    display: block;
    position: relative;
    padding-left: 21px;
}

.listF ul li a span {
    white-space: nowrap;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.listF .right ul li a span {
    max-width: 100%;
}

.listF ul li a em {
    font-style: normal;
    position: absolute;
    right: 0;
    top: 0;
}

.listF .right {
    width: 302px;
}

.listF .left {
    width: 850px;
}

.listF .right img {
    display: block;
    margin: 0 auto;
    margin-bottom: 17px;
}

/****** footer ****/
.footer {
    height: 248px;
    background: #303135;
    clear: both;
    color: #7a7b7f;
}

.footer ul {
    overflow: hidden;
    border-bottom: 1px solid #404145;
}

.footer ul li {
    float: left;
    float: left;
    line-height: 73px;
}

.footer ul li a:hover {
    color: #7a7b7f;
}

.footer ul li a {
    color: #fff;
    display: block;
    padding-right: 91px;
}

.footer .copyRight {
    margin-top: 25px;
}

.footer .copyRight span {
    display: block;
}

.footer img {
    position: absolute;
    right: 0;
    top: 20px;
}

.footer .box {
    position: relative;
    padding-right: 170px;
}

/****** 详情页 *******/
.nav {
    height: 37px;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
}

.logoBox {
    height: 127px;
    padding-top: 20px;
    background: #fff;
}

.bread {
    height: 55px;
    border-top: 1px solid #f0f0f0;
    line-height: 55px;
    color: #bbbbbb;
}

.bread a {
    color: #bbbbbb;
}

.bread span {
    color: #0395e2;
}

.wrapper {
    background: #fafafa;
}

.home.wrapper {
    background: #fafafa;
}

.content .inner {
    overflow: hidden; /* padding: 10px; */
}

.news {
}

.news .left {
    width: 805px;
    margin-right: 0px;
    background: #fff;
    margin: 10px 11px 10px 10px;
    padding: 0;
    position: relative;
}

.news h3 {
    font-size: 25px;
    color: #333;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 22px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 13px;
}

.news h3 span {
    font-size: 12px;
    color: #999;
    display: block;
    margin-top: 14px;
}

.news .right {
    width: 349px;
    background: #fff;
    margin: 10px 10px 10px 0px;
    padding: 0;
}

.news .txt {
    padding: 10px 25px;
    color: #222;
    line-height: 29px;
}

.news .txt p {
    text-indent: 2rem;
    margin-bottom: 5px;
}

.news .txt img {
    display: block;
    margin: 20px auto;
}

.listF.listW li {
    width: 100%;
    margin-right: 0;
}

h2.innerTitle {
    border-bottom: 1px solid #f2f2f2;
    height: 42px;
    line-height: 42px;
    padding-left: 17px;
    margin-bottom: 12px;
}

h2.innerTitle span {
    font-size: 16px;
}

.listW ul {
    margin: 0 10px 0 21px;
}

div.listW ul li span {
    padding-right: 0;
    max-width: 100%;
}

/******** list ************/
.cateBox {
    height: 170px;
    font-size: 14px;
}

.cateBox .box {
    background: #fff;
    box-shadow: 0 0 5px #e6e6e6;
    margin: 10px;
    padding-top: 15px;
    width: inherit;
}

.cateBox {
}

.cateBox dl {
    padding: 5px 20px 5px;
    margin: 0;
}

.cateBox dt {
    display: inline-block;
    width: 90px;
    text-align: left;
}

.cateBox dd:hover {
    cursor: pointer;
}

.cateBox dd {
    display: inline-block;
    width: 83px;
}

.cateBox dd.active, .active {
    color: #0395e2;
}

.sortBox {
    border-top: 1px solid #f0f0f0;
    margin-top: 5px;
    height: 44px;
    line-height: 44px;
    padding-left: 20px;
}

.sortBox span.up, .sortBox span.down {
    position: relative;
}

.sortBox span.up:after, .sortBox span.down:after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0px;
    background: url(../img/upIcon.png) no-repeat 0 0;
    top: 1px;
}

.sortBox span.down:after {
    background: url(../img/downIcon.png) no-repeat 0 0;
    top: 3px;
}

.sortBox span {
    border-right: 1px solid #f0f0f0;
    margin-right: 22px;
    padding-right: 26px;
}

.listBox {
    overflow: hidden;
}

.listBox .homeList {
    margin: 10px;
}

.pageTpl {
}

.pageTpl a {
    padding: 6px 12px;
    background: #fff;
    border: 1px solid #f0f0f0;
    font-size: 16px;
    margin: 0 2px;
}

.pageTpl a.active {
    color: #fff;
    background: #0395e2;
}

a.btn.fBtn {
    background: none;
    border-radius: 5px;
    color: #056cbb;
    border: 1px solid #056cbb;
}

.listBox .homeList {
    position: relative;
    padding-bottom: 60px;
    margin-bottom: 40px;
}

.listBox .tools {
    left: 0;
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100%;
    padding-right: 23px;
}

.listBox .tools .btn {
    height: 48px;
    width: 172px;
    display: inline-block;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
}

.listBox .tools .pageTpl {
    position: relative;
    top: 15px;
}

/***** 服务商列表 ******/
.fwsList.homeList {
}

.fwsList.homeList .listBox {
    margin-bottom: 20px;
}

.fwsList.homeList .listBox .bottom {
    padding: 10px 0;
    margin-top: 10px;
    border: none;
    bottom: 5px;
}

.fwsList.homeList .listBox .bottom .label {
    display: block;
    border-top: 1px solid #efefef;
    padding: 10px;
    color: #666;
    max-height: 66px;
    overflow: hidden;
}

.fwsList.homeList .listBox .bottom .label em {
    font-style: normal;
    color: #333;
}

.fwsList.homeList .listBox .bottom .btn {
    float: none;
    margin: 0 auto;
    display: block;
}

.hoverBox {
    height: 220px;
    overflow: hidden;
    position: relative;
}

.fwsList.homeList .listBox:hover {
    cursor: pointer;
}

.homeList .listBox .listImg {
    margin: 0 auto;
    display: block;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    position: absolute;
    left: 23px;
}

.fwsList.homeList .listBox.hover .listImg {
    transform: translateX(-265px);
}

.fwsList.homeList .listBox.hover .imgToTxt {
    display: block;
}

.fwsList.homeList .listBox .imgToTxt {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    box-shadow: 0 0 5px #efefef;
    margin: 10px;
    padding: 10px;
    position: absolute;
    height: 207px;
    top: 0px;
    display: none;
}

.fwsList.homeList .listBox .imgToTxt:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #f3f3f3 transparent transparent;
    transform: rotate(90deg); /*顺时针旋转90°*/
    left: 26px;
    top: -21px;
}

.fwsList.homeList .listBox .imgToTxt .topTxt {
    height: 27px;
    background: #f9f9f9;
    display: block;
    padding-left: 7px;
    line-height: 27px;
}

.fwsList.homeList .listBox .imgToTxt .topTxt em {
    font-style: normal;
}

.fwsList.homeList .listBox .imgToTxt .txt {
}

.fwsList.homeList .listBox .imgToTxt .txt {
    border-top: 1px solid #efefef;
    display: block;
    padding-top: 5px;
    max-height: 150px;
    overflow: hidden;
    margin-top: 10px;
}

.home .homeList .listBox {
    margin-bottom: 0;
}

/***** 咨询列表 ****/
.dateList {
}

.dateList {
    margin: 0 23px;
}

.dateList li {
    padding: 23px 0;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
}

.dateList li span.date em {
    font-size: 18px;
    display: block;
    line-height: 16px;
    font-weight: bold;
    font-style: normal;
}

.dateList li span.date {
    float: left;
    width: 77px;
    height: 77px;
    background: #f2f2f2;
    text-align: center;
    padding-top: 19px;
}

.dateList li .txt {
    float: left;
    width: 672px;
    padding: 0;
    margin-left: 10px;
}

.dateList li .txt h5 {
    font-size: 17px;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: lighter;
    color: #222;
    margin-bottom: 3px;
}

.dateList li .txt span {
    line-height: 25px;
    color: #696767;
}

#carousel {
    position: relative;
    z-index: 2;
    margin-top: 20px;
    transform-style: preserve-3d;
    perspective: 800px
}

#carousel img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -252px;
    transition: transform .5s ease-in-out;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, .2);
    cursor: pointer
}

#bannerNav {
    position: relative;
    margin-top: 20px;
    height: 10px;
    padding: 10px 0;
    text-align: center
}

#bannerNav ul li {
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    width: 22px;
    margin: 0 2px
}

#bannerNav ul li a {
    margin: 0 auto;
    display: block;
    width: 6px;
    height: 6px;
    vertical-align: top;
    border-radius: 3px;
    background: #5e6671;
    font-size: 0
}

#bannerNav ul li.on a, #bannerNav ul li:hover a {
    background: #00aeff
}

#bannerNav ul li.on a {
    width: 20px
}

#carousel {
    height: 400px
}

#carousel img {
    width: 500px;
    border-radius: 10px;
    opacity: 0;
}

#banner1 {
    width: 863px;
}

.pc-banner {
    background: url(images/top_main_bg01.jpg) no-repeat center top/100% auto;
    width: 100%;
    float: left;
}

@media screen and (max-width: 668px) {
    .pc-banner {
        background-size: auto 100%;
    }
}

.swiper-container {
    width: 100%;
    margin: 35px 0;
}

@media screen and (max-width: 668px) {
    .swiper-container {
        margin: 20px 0 15px;
    }
}

.swiper-slide {
    -webkit-transition: transform 1.0s;
    -moz-transition: transform 1.0s;
    -ms-transition: transform 1.0s;
    -o-transition: transform 1.0s;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
}

@media screen and (max-width: 668px) {
    .swiper-slide {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }
}

.swiper-slide-active, .swiper-slide-duplicate-active {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

@media screen and (max-width: 668px) {
    .swiper-slide-active, .swiper-slide-duplicate-active {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }
}

.none-effect {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.swiper-slide a {
    background: #fff;
    padding: 10px;
    display: block;
    border-radius: 14px;
}

@media screen and (min-width: 668px) {
    .swiper-slide a:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        box-sizing: border-box;
        border: 10px solid #fff;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}

.swiper-slide-active a:after {
    background: none;
}

@media screen and (max-width: 668px) {
    .swiper-slide a {
        padding: 5px;
        border-radius: 7px;
    }
}

.swiper-slide img {
    width: 100%;
    border-radius: 14px;
    display: block;
}

@media screen and (max-width: 668px) {
    .swiper-slide img {
        border-radius: 7px;
    }
}

.swiper-pagination {
    position: relative;
    margin-bottom: 30px;
}

.swiper-pagination-bullet {
    background: #00a0e9;
    margin-left: 4px;
    margin-right: 4px;
    width: 17px;
    height: 17px;
    opacity: 1;
    margin-bottom: 4px;
}

.swiper-pagination-bullet-active {
    width: 13px;
    height: 13px;
    background: #FFF;
    border: 6px solid #00a0e9;
    margin-bottom: 0;
}

@media screen and (max-width: 668px) {

    .swiper-pagination {
        position: relative;
        margin-bottom: 20px;
    }

    .swiper-pagination-bullet {
        background: #00a0e9;
        margin-left: 2px;
        margin-right: 2px;
        width: 8px;
        height: 8px;
        margin-bottom: 2px;
    }

    .swiper-pagination-bullet-active {
        width: 6px;
        height: 6px;
        background: #FFF;
        border: 3px solid #00a0e9;
        margin-bottom: 0;
    }
}

.button {
    width: 100%;
    margin: 0 auto;
    top: 49%;
    position: absolute;
}

@media screen and (max-width: 668px) {
    .button {
        width: 70%;
        bottom: 22px;
    }
}

.button div:hover {
    background-color: #2f4798;
}

.swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l4.2%2C4.2L8.4%2C22l17.8%2C17.8L22%2C44L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") #00a0e9 center 50%/50% 50% no-repeat;
}

.swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") #00a0e9 center 50%/50% 50% no-repeat;
}

@media screen and (max-width: 668px) {
    .button div {
        width: 28px;
        height: 28px;
    }
}

.btn-numbox {
    overflow: hidden;
}

.btn-numbox li {
    float: left;
}

.btn-numbox li .number,
.kucun {
    display: inline-block;
    font-size: 12px;
    color: #808080;
    vertical-align: sub;
}

.btn-numbox .count {
    overflow: hidden;
    margin: 0 16px 0 24px;
    position: relative;
    top: 2px;
}

.btn-numbox .count .num-jian,
.input-num,
.num-jia {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 18px;
    color: #999;
    cursor: pointer;
    border: 1px solid #e6e6e6;
}

.btn-numbox .count .input-num {
    width: 40px;
    height: 28px;
    color: #888585;
    border-left: 0;
    border-right: 0;
    margin-left: -1px;
    border-right: none;
    border-radius: 0;
}

.detail {
}

.detail h4 {
    font-size: 28px;
    margin-bottom: 16px;
}

.detail .price {
    color: #333;
    padding-left: 6px;
}

.detail .price em {
    font-style: normal;
    color: #0395e2;
    font-size: 18px;
    margin-left: 10px;
}

.detail .tools {
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 20px;
}

.detail .tools .btn-numbox {
    float: left;
    padding-left: 9px;
    margin-top: 5px;
}

.detail .tools .btns {
    float: right;
    position: relative;
    top: 0px;
}

.detail .tools .btns a {
    height: 40px;
    display: inline-block;
    line-height: 40px;
}

.swiperBox {
    position: relative;
}

.news.detail .left {
    padding: 0 25px;
}

.bgTitle {
    background: #f0f0f0;
    font-size: 16px;
    height: 44px;
    line-height: 44px;
    padding-left: 10px;
    font-weight: bold;
    margin-bottom: 8px;
}

.detail p {
    padding-left: 5px;
}

.detail .homeList .listBox {
    width: 32%;
}

.homeList .listBox .listImg {
    position: relative;
    margin: 0 auto;
    left: 0;
}

.detail.news .left {
    width: 860px;
    margin-right: 0;
}

.detail.news .right {
    width: 310px;
    margin-right: 4px;
}

.mt_20 {
    margin-top: 20px;
}

.detail.news .right {
    padding: 0 10px;
    background: none;
}

.detail.news .right .companyInfo {
    height: 275px;
    text-align: center;
    padding-top: 60px;
}

.detail.news .right .companyInfo .img {
    background: #eff0f2;
    border-radius: 50px;
    width: 65px;
    height: 65px;
    text-align: center;
    padding-top: 9px;
    margin: 0 auto 10px;
}

.detail.news .right .companyInfo img {
}

.detail.news .right .companyInfo .name {
    font-size: 15px;
    display: block;
    text-align: center;
    font-weight: bold;
}

.detail.news .right .companyInfo a {
    height: 30px;
    display: block;
    width: 130px;
    margin: 10px auto;
}

.detail.news .right .companyInfo .label {
    color: #847c7c;
}

.detail.news .right h5 {
    font-weight: lighter;
    font-size: 16px;
    margin-bottom: 11px;
}

.listT {

}

.listT li {
    position: relative;
    padding-left: 90px;
    margin-bottom: 10px;
}

.listT li img {
    position: absolute;
    left: 0;
    top: 0;
}

.listT li span.topTxt {
    max-height: 43px;
    overflow: hidden;
    display: block;
    line-height: 20px;
    color: #333;
}

.listT li span.money {
    color: #0395e2;
}

.listT li span.money a {
    float: right;
    color: #0395e2;
}

.listT.listF {
}

.listT.listF li {
    padding-left: 60px;
    margin-bottom: 22px;
}

.listT.listF .title {
    color: #222;
}

.listT.listF .topTxt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #9c9090;
}

.detail.news .right .shadowBox {
    margin-bottom: 20px;
}

.detail.news .right .title4 {
    font-weight: lighter;
    border-bottom: 1px solid #f0f0f0;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

/*******8 cart ***********/
.cart {
}

.tabBox {
    position: relative;
}

.tabBox .tabHeader {
    height: 60px;
    background: #fff;
    padding-left: 25px;
    padding-top: 0;
    margin: 10px 10px 40px;
}

.tabBox .tabHeader li {
    float: left;
    margin-right: 30px;
    line-height: 58px;
    font-size: 16px;
}

.tabBox .tabHeader li.active {
    border-bottom: 2px solid #0395e2;
}

.tabBox .tabContent {
}

.tabBox .tabContent .tabCBox {
    display: none;
}

.tabBox .tabContent .tabCBox.active {
    color: 3333;
    display: block;
}

.cart .cartListHeader .left {
    color: #333;
}

.cart .cartListHeader .leftInfo {
    float: left;
}

.cart .cartListHeader .leftInfo em {
    color: #0395e2;
    font-size: 16px;
    margin-left: 6px;
}

.cart .cartListHeader {
    color: #333;
    padding-left: 5px;
    overflow: hidden;
    margin-bottom: 25px;
}

.cart .cartListHeader .formLabel {
    margin-right: 13px;
}

.cart .cartListHeader span {
}

.cart .cartListHeader ul {
    float: right;
    margin-right: 10px;
}

.cart .cartListHeader ul li {
}

.cart .cartListHeader ul li {
    float: left;
    width: 131px;
    text-align: center;
}

.cart .cartListC .listInfo {
    margin-top: 20px;
    overflow: hidden;
    padding: 25px 0 25px 32px;
    color: #333;
    margin: 0px 10px;
}

.cart .cartListC .listInfo:hover {
    background: #f3fbff;
}

.cart .cartListC .cBox {
    display: block;
    padding-left: 5px;
    margin-bottom: 16px;
}

.cart .cartListC .formLabel input {
}

.cart .cartListC .cBox img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
    margin-left: 5px;
}

.cart .cartListC .cName {
    margin-left: 5px;
    display: inline-block;
    background: url(../img/wx.png) no-repeat right 0;
    padding-right: 30px;
}

.cart .cartListC .listInfo .left {
}

.cart .cartListC .listInfo .left ul {
}

.cart .cartListC .listInfo .left ul li {
    float: left;
}

.cart .cartListC .listInfo .left ul li:nth-child(1) {
    margin-right: 20px;
    position: relative;
    top: -3px;
}

.cart .cartListC .listInfo .left ul li:nth-child(2) img {
    width: 110px;
    height: 110px;
}

.cart .cartListC .listInfo .left ul li:nth-child(2) {

    margin-right: 20px;
}

.cart .cartListC .listInfo .left ul li:nth-child(3) {
    width: 270px;
}

.cart .cartListC .listInfo .right > ul {
    /* width: 630px; */
    overflow: hidden;
}

.cart .cartListC .listInfo .right ul li .count {
    height: 40px;
}

.cart .cartListC .listInfo .right > ul > li {
    float: left;
    width: 131px;
    text-align: center;
    height: 40px;
}

.cart .cartListC .listInfo .right ul li:nth-child(1) {
}

.cart .cartListC .listInfo .right ul li:nth-child(2) {
}

.cart .cartListC .listInfo .right ul li:nth-child(3) {
}

.cart .tabTools {
    height: 68px;
    background: #fff;
    line-height: 68px;
    margin: 20px 10px 0;
    color: #333;
    padding-left: 16px;
    position: relative;
}

.cart .tabTools .formLabel {
}

.cart .tabTools .delete {
    margin-left: 28px;
}

.cart .tabTools .btnBox {
    position: absolute;
    right: 0;
    top: 0;
}

.cart .tabTools .btnBox .checkService {
    margin-right: 26px;
}

.cart .tabTools .btnBox .money {
    margin-right: 27px;
}

.cart .tabTools .btnBox .btn {
    height: 68px;
    line-height: 68px;
    border-radius: 0;
    font-size: 16px;
    padding: 0 15px;
}

.tabHeaderTopC {
    position: absolute;
    right: 28px;
    top: 0;
    height: 60px;
    line-height: 60px;
}

.cart .tabHeaderTopC label {
}

.cart .tabHeaderTopC span em {
    color: #0395e2;
}

.cart .tabHeaderTopC span {
    margin-right: 37px;
}

.cart .btn-numbox .count .input-num {
    width: 35px;
}

.cart .leftInfo label {
}

.cart .leftInfo span {
}

em {
    font-style: normal;
}

.cart em {
    color: #0395e2;
}

.cartListC {
    margin-top: 20px;
}